.nav.gradient {
  background: linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00ffffff',GradientType=0 );*/
}

.nav {
  position: fixed;
  z-index: 20;
  width: 100%;
  padding: 10px 20px;
  top: 0;
  display: table;
  background: #4a4a4a;
  transition: all .4s;
}

.nav.nav--scroll {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.46), 0 0 1px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #404040;
}

.menu__item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all .4s;
}

.menu__item.active {
  border: 1px solid #f8f8f8;
}

.menu .icon.icon-edwardxiao {
  font-size: 50px;
}

.menu .site-name,
.menu .logo {
  display: inline-block;
  vertical-align: middle;
}

.mo-navbar__nav-mobile .menu .logo {
  display: table-cell;
}

.menu .site-name {
  margin: 0 40px 0 20px;
}

.user-nav .mo-dropdown .mo-dropdown__menu {
  width: 100px;
}

.user-nav .mo-dropdown .mo-dropdown__item {
  color: #4a4a4a;
}

.nav a {
  color: #f8f8f8;
}

.nav a:hover {
  color: #f8f8f8;
  text-decoration: underline;
}

.nav a:focus,
.nav a:active {
  color: #f8f8f8;
}

.nav__center,
.nav__left,
.nav__right {
  display: table-cell;
  vertical-align: middle;
}

.nav__left .mobile-menu-icon {
  color: #f8f8f8;
}

.nav__center {
  text-align: center;
}

.nav__right {
  text-align: right;
}

.nav__right .input-group {
  margin-left: auto;
  margin-right: 0;
}

.user-nav__item {
  display: inline-block;
  vertical-align: middle;
  color: #f8f8f8;
}

.mo-nav-mobile .user-nav__item {
  color: #4a4a4a;
}

.user-nav__item .select-arrow {
  border-color: #f8f8f8 transparent;
}

.user-nav__item.input-group select {
  border-color: #f8f8f8;
}

.mo-nav-column__item .mo-nav-column__item.user-nav {
  display: table-cell;
  vertical-align: middle;
}

.modal-backdrop.in {
  opacity: .3;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  width: 300px;
  margin: 0 auto!important;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.section.intros {
  /*background: url('../img/home-0.jpg');*/
  /*background: url('../img/home-1.jpg');*/
  /*background: url('../img/home-2.jpg');*/
  background: url('../img/home-3.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.modal-content {
  box-shadow: 0 0 2px 0 rgba(181, 181, 181, .6)!important;
  border: 1px solid #ccc!important;
  border-radius: 2px!important;
}


/*login*/

.signup,
.login {
  width: 100%;
}

.signup .input-title,
.login .input-title {
  background: #505050;
  font-size: 12px;
  padding: 3px;
  border: 1px solid #2d2d2d;
  color: #f8f8f8;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.fetch-captcha-code svg {
  width: 100%;
}

.login .fetch-verify-code,
.signup .fetch-verify-code {
  position: absolute;
  right: 0;
  top: 19px;
  height: 30px;
  padding: 8px 20px;
  width: 48%;
}

.login .fetch-captcha-code,
.signup .fetch-captcha-code {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
}

.signup .verify-method {
  position: absolute;
  right: 0;
  top: 25px;
  text-decoration: underline;
  cursor: pointer;
}

.login .row-wrapper,
.signup .row-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.login .row-wrapper:last-child,
.signup .row-wrapper:last-child {
  margin-bottom: 0;
}

.avatar {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  margin-right: 0;
  margin-left: auto;
}

.avatar-picker {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.avatar-holder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ababab;
  position: relative;
}

.avatar-holder.empty {
  padding-top: 6px;
}

.camera-mask {
  width: 100%;
  height: 100%;
  transition: background .4s;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform: translate(-50%, -50%)\9;
  background: transparent;
}

.avatar-holder:hover .camera-mask {
  background: rgba(134, 134, 134, .5);
}

.avatar-holder.preview .icon,
.avatar-holder:hover .icon {
  color: #f8f8f8;
}

.avatar-holder .icon {
  font-size: 25px;
  color: #888888;
  transition: color .4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform: translate(-50%, -50%)\9;
}

.avatar img {
  width: 100%;
  height: auto;
}

.user-nav__item .avatar-container {
  width: 30px;
  height: 30px;
}

.my-button.width-100pc {
  padding: .5em 0;
}


/*end of login*/

.page-content {
  height: 100%;
}

.core-content {
  padding: 79px 0 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
  display: block;
}

.core-content.height-100pc {
  height: 100%!important;
}

.core-content.no-margin {
  margin: 0;
}

.core-content.no-padding {
  padding: 0;
}

.core {
  padding: 20px;
  max-width: 1000px;
  margin: 10px auto 0;
}


/*full page*/


/*!
 * fullPage 2.9.0
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide,
.fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #f8f8f8 transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #f8f8f8;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.right {
  right: 17px;
}

#fp-nav.left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-slidesNav.bottom {
  bottom: 17px;
}

.fp-slidesNav.top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #f8f8f8;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}


/*end of full page*/

@media only screen and (max-width: 990px) {
  .nav__left,
  .nav__right {
    width: 20%;
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
  .modal-backdrop.in {
    opacity: 0;
  }
}
